In [1]:
%%writefile 1_launch.c
#include <stdio.h>
#include <unistd.h>

int main() {
    for (int i = 60; i >= 0; i--) {
        printf("%d ", i);
        sleep(1);
    }
    printf("발사\n");
}

Writing 1_launch.c

In [2]:
%%shell
gcc ./1_launch.c
./a.out

60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 0 발사

In [3]:
%%writefile 2_hello.c
#include <stdio.h>

int main() {
    int input;
    printf("몇 번이나 반복할까요?: ");
    scanf("%d", &input);

    for (int i = 0; i < input; i++) {
        printf("안녕하세요?\n");
    }
}

Writing 2_hello.c

In [4]:
%%shell
gcc ./2_hello.c
./a.out

몇 번이나 반복할까요?: 3
안녕하세요?
안녕하세요?
안녕하세요?

In [5]:
%%writefile 3_star.c
#include <stdio.h>

int main() {
    for (int i = 1; i <= 7; i++) {
        for (int j = 1; j <= i; j++) {
            printf("%d", j);
        }
        for (int j = 1; j <= 7 - i; j++) {
            printf("*");
        }
        printf("\n");
    }
}

Writing 3_star.c

In [6]:
%%shell
gcc ./3_star.c
./a.out

1******
12*****
123****
1234***
12345**
123456*
1234567

In [7]:
%%writefile 4_sum.c
#include <stdio.h>

int main() {
    int input, sum = 0;
    while (1) {
        printf("정수를 입력하시오: ");
        scanf("%d", &input);

        if (!input)
            break;
        sum += input;
    }
    printf("합계=%d\n", sum);
}

Writing 4_sum.c

In [8]:
%%shell
gcc ./4_sum.c
./a.out

정수를 입력하시오: 10
정수를 입력하시오: 20
정수를 입력하시오: 30
정수를 입력하시오: 0
합계=60

In [9]:
%%writefile 5_multiply.c
#include <stdio.h>

int main() {
    for (int i = 1; i <= 100; i++) {
        if (!(i % 3))
            printf("%d ", i);
    }
}

Writing 5_multiply.c

In [10]:
%%shell
gcc ./5_multiply.c
./a.out

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [11]:
%%writefile 6_multi2.c
#include <stdio.h>

int main() {
    for (int i = 1; i <= 100; i++) {
        if (!(i % 3) && !(i % 5))
            printf("%d ", i);
    }
}

Writing 6_multi2.c

In [12]:
%%shell
gcc ./6_multi2.c
./a.out

15 30 45 60 75 90

In [13]:
%%writefile 7_sum2.c
#include <stdio.h>

int main() {
    int start, end, sum = 0;
    printf("시작정수: ");
    scanf("%d", &start);
    printf("종료정수: ");
    scanf("%d", &end);

    for (int i = start; i <= end; i++) {
        sum += i;
    }
    printf("%d에서 %d까지의 합 = %d\n", start, end, sum);
}

Writing 7_sum2.c

In [14]:
%%shell
gcc ./7_sum2.c
./a.out

시작정수: 1
종료정수: 10
1에서 10까지의 합 = 55

In [15]:
%%writefile 8_ascii.c
#include <stdio.h>

int main() {
    for (int i = 65; i <= 90; i++) {
        printf("%3d: %c\n", i, i);
    }
    for (int i = 97; i <= 122; i++) {
        printf("%3d: %c\n", i, i);
    }
}

Writing 8_ascii.c

In [16]:
%%shell
gcc ./8_ascii.c
./a.out

 65: A
 66: B
 67: C
 68: D
 69: E
 70: F
 71: G
 72: H
 73: I
 74: J
 75: K
 76: L
 77: M
 78: N
 79: O
 80: P
 81: Q
 82: R
 83: S
 84: T
 85: U
 86: V
 87: W
 88: X
 89: Y
 90: Z
 97: a
 98: b
 99: c
100: d
101: e
102: f
103: g
104: h
105: i
106: j
107: k
108: l
109: m
110: n
111: o
112: p
113: q
114: r
115: s
116: t
117: u
118: v
119: w
120: x
121: y
122: z

In [17]:
%%writefile 9_aCount.c
#include <stdio.h>

int main() {
    int count = 0;
    char input;
    while (1) {
        printf("문자를 입력하시오: (종료 .) ");
        input = getchar();
        if (input == 'a')
            count++;
        else if (input == '.')
            break;
        getchar();
    }
    printf("a의 개수 = %d", count);
}

Writing 9_aCount.c

In [18]:
%%shell
gcc ./9_aCount.c
./a.out

문자를 입력하시오: (종료 .) a
문자를 입력하시오: (종료 .) a
문자를 입력하시오: (종료 .) b
문자를 입력하시오: (종료 .) .
a의 개수 = 2

In [19]:
%%writefile 10_temp.c
#include <stdio.h>

int main() {
    printf("=================\n");
    printf("화씨온도   섭씨온도\n");
    printf("=================\n");

    for (int i = 0; i <= 100; i += 10) {
        printf("%d  %d\n", i, (i - 32) * 5 / 9);
    }
}

Writing 10_temp.c

In [20]:
%%shell
gcc ./10_temp.c
./a.out

=================
화씨온도   섭씨온도
=================
0  -17
10  -12
20  -6
30  -1
40  4
50  10
60  15
70  21
80  26
90  32
100  37

In [21]:
%%writefile 11_tri.c
#include <stdio.h>

int main() {
    int input;
    printf("정수를 입력하시오: ");
    scanf("%d", &input);

    for (int i = 1; i <= input; i++) {
        for (int j = 1; j <= i; j++) {
            printf("%d ", j);
        }
        printf("\n");
    }
}

Writing 11_tri.c

In [22]:
%%shell
gcc ./11_tri.c
./a.out

정수를 입력하시오: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
%%writefile 12_graph.c
#include <stdio.h>

int main() {
    int input;
    for (int i = 0; i < 10; i++) {
        printf("데이터를 입력하시오: ");
        scanf("%d", &input);

        for (int j = 0; j < input; j++)
            printf("*");
        printf("\n");
    }
}

Writing 12_graph.c

In [24]:
%%shell
gcc ./12_graph.c
./a.out

데이터를 입력하시오: 10
**********
데이터를 입력하시오: 9
*********
데이터를 입력하시오: 8
********
데이터를 입력하시오: 7
*******
데이터를 입력하시오: 6
******
데이터를 입력하시오: 5
*****
데이터를 입력하시오: 4
****
데이터를 입력하시오: 3
***
데이터를 입력하시오: 2
**
데이터를 입력하시오: 1
*

In [34]:
%%writefile 13_fib.c
#include <stdio.h>

int main() {
    int f0 = 0, f1 = 1, f2 = 0, input;
    printf("몇번째 항까지 구할까요? ");
    scanf("%d", &input);
    for (int i = 0; i < input; i++) {
        if (i == 0) {
            printf("0, ");
            continue;
        } else if (i == 1) {
            printf("1, ");
            continue;
        }

        f0 = f1 + f2;
        printf("%d, ", f0);
        f2 = f1;
        f1 = f0;
    }
    printf("\b\b");
}

Overwriting 13_fib.c

In [35]:
%%shell
gcc ./13_fib.c
./a.out

몇번째 항까지 구할까요? 10
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 

In [27]:
%%writefile 14_square.c
#include <stdio.h>

int main() {
    int input, sum = 0;
    printf("n의 값을 입력하시오: ");
    scanf("%d", &input);

    for (int i = 1; i <= input; i++) {
        sum += i * i;
    }
    printf("계산값은 %d입니다.\n", sum);
}

Writing 14_square.c

In [36]:
%%shell
gcc ./14_square.c
./a.out

n의 값을 입력하시오: 10
계산값은 385입니다.

In [37]:
%%writefile 15_fuel.c
#include <stdio.h>

int main() {
    double input, fuel = 1000;

    printf("초기연료량: %.0lf\n", fuel);
    while (1) {
        printf("연료 충전은 +, 연료 소모는 -로 입력해주세요: ");
        scanf("%lf", &input);

        fuel += input;
        printf("현재 남아있는 양은 %lf입니다.\n", fuel);
        if (fuel < 100) {
            printf("(경고) 연료가 10%%미만입니다.\n");
            break;
        }
    }
}

Writing 15_fuel.c

In [38]:
%%shell
gcc ./15_fuel.c
./a.out

초기연료량: 1000
연료 충전은 +, 연료 소모는 -로 입력해주세요: +300
현재 남아있는 양은 1300.000000입니다.
연료 충전은 +, 연료 소모는 -로 입력해주세요: -1250
현재 남아있는 양은 50.000000입니다.
(경고) 연료가 10%미만입니다.

In [39]:
%%writefile 16_prime.c
#include <math.h>
#include <stdio.h>
#include <stdlib.h>

int main() {
    int input;
    printf("정수를 입력하시오: ");
    scanf("%d", &input);

    if (input == 1) {
        printf("%d는 소수가 아닙니다.\n", input);
        exit(0);
    }
    for (int i = 2; i < sqrt(input); i++) {
        if (input % i == 0) {
            printf("%d는 소수가 아닙니다.\n", input);
            exit(0);
        }
    }
    printf("%d는 소수입니다.\n", input);
}

Writing 16_prime.c

In [40]:
%%shell
gcc ./16_prime.c -lm
./a.out

정수를 입력하시오: 93
93는 소수가 아닙니다.

In [50]:
%%writefile 17_tri2.c
#include <stdio.h>

int main() {
    int cnt = 0;
    for (int a = 1; a <= 100; a++) {
        for (int b = 1; b <= a; b++) {
            for (int c = 1; c <= a + b; c++) {
                if (c < a || c < b)
                    continue;
                else if (c * c == a * a + b * b) {
                    printf("%d %d %d\n", b, a, c);
                    cnt++;
                }
            }
        }
    }
    printf("피타고라스 수의 개수 = %d\n", cnt);
}

Overwriting 17_tri2.c

In [51]:
%%shell
gcc ./17_tri2.c
./a.out

3 4 5
6 8 10
5 12 13
9 12 15
8 15 17
12 16 20
15 20 25
20 21 29
7 24 25
10 24 26
18 24 30
21 28 35
16 30 34
24 32 40
12 35 37
15 36 39
27 36 45
9 40 41
30 40 50
40 42 58
33 44 55
24 45 51
28 45 53
14 48 50
20 48 52
36 48 60
39 52 65
48 55 73
33 56 65
42 56 70
11 60 61
25 60 65
32 60 68
45 60 75
16 63 65
60 63 87
48 64 80
51 68 85
24 70 74
21 72 75
30 72 78
54 72 90
65 72 97
40 75 85
57 76 95
36 77 85
18 80 82
39 80 89
60 80 100
13 84 85
35 84 91
63 84 105
80 84 116
66 88 110
48 90 102
56 90 106
60 91 109
69 92 115
28 96 100
40 96 104
72 96 120
20 99 101
75 100 125
피타고라스 수의 개수 = 63

In [43]:
%%writefile 18_gamble.c
#include <stdio.h>
#include <stdlib.h>
#include <time.h>
#define GOAL 250

int main() {
    int wallet = 50, bets = 0, win = 0;
    srand(time(NULL));

    printf("초기 금액 $%d\n목표 금액 $%d\n", wallet, GOAL);
    while (wallet > 0 && wallet < GOAL) {
        bets++;
        if ((double)rand() / RAND_MAX < 0.5) {
            wallet++;
            win++;
        } else
            wallet--;
    }

    printf("%d중의 %d번 승리\n", bets, win);
    printf("이긴 확률=%lf%%\n", (double)win / (double)bets * 100.0);
}

Writing 18_gamble.c

In [44]:
%%shell
gcc ./18_gamble.c
./a.out

초기 금액 $50
목표 금액 $250
1132중의 541번 승리
이긴 확률=47.791519%

In [45]:
%%writefile 19_pi.c
#include <stdio.h>

int main() {
    int input;
    double pi = 0;

    printf("반복횟수: ");
    scanf("%d", &input);

    for (int i = 1; i <= input; i++) {
        if (i % 2)
            pi += 4.0 / (2.0 * (double)i - 1);
        else
            pi -= 4.0 / (2.0 * (double)i - 1);
    }

    printf("Pi = %lf\n", pi);
}

Writing 19_pi.c

In [46]:
%%shell
gcc ./19_pi.c
./a.out

반복횟수: 1000000
Pi = 3.141592