In [1]:
%%writefile 1_repeat.c
#include <stdio.h>

int main() {
    int i = 0;
    while (i < 10) {
        printf("수업 시간에 떠들지 않겠습니다.\n");
        printf("i는 %d\n", i);
        i++;
    }
}

Writing 1_repeat.c

In [2]:
%%shell
gcc ./1_repeat.c
./a.out

수업 시간에 떠들지 않겠습니다.
i는 0
수업 시간에 떠들지 않겠습니다.
i는 1
수업 시간에 떠들지 않겠습니다.
i는 2
수업 시간에 떠들지 않겠습니다.
i는 3
수업 시간에 떠들지 않겠습니다.
i는 4
수업 시간에 떠들지 않겠습니다.
i는 5
수업 시간에 떠들지 않겠습니다.
i는 6
수업 시간에 떠들지 않겠습니다.
i는 7
수업 시간에 떠들지 않겠습니다.
i는 8
수업 시간에 떠들지 않겠습니다.
i는 9

In [5]:
%%writefile 2_mile.c
#include <stdio.h>

int main() {
    int meter;
    int i = 0;

    while (i < 3) {
        meter = i * 1609;
        printf("%d마일은 %d미터입니다.\n", i, meter);
        i++;
    }
}

Overwriting 2_mile.c

In [6]:
%%shell
gcc ./2_mile.c
./a.out

0마일은 0미터입니다.
1마일은 1609미터입니다.
2마일은 3218미터입니다.

In [7]:
%%writefile 3_fact.c
#include <stdio.h>

int main() {
    int i = 5;
    int factorial = 1;

    while (i >= 1) {
        factorial *= i;
        i--;
    }

    printf("%d\n", factorial);
}

Writing 3_fact.c

In [8]:
%%shell
gcc ./3_fact.c
./a.out

120

In [9]:
%%writefile 4_cal.c
#include <stdio.h>

int main() {
    int n;
    int i = 1;

    printf("구구단 중에서 출력하고 싶은 단을 입력하시오: ");
    scanf("%d", &n);

    while (i <= 9) {
        printf("%d * %d = %d\n", n, i, n * i);
        i++;
    }
}

Writing 4_cal.c

In [10]:
%%shell
gcc ./4_cal.c
./a.out

구구단 중에서 출력하고 싶은 단을 입력하시오: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [11]:
%%writefile 5_sum.c
#include <stdio.h>

int main() {
    int i = 1, sum = 0;

    while (i <= 1000) {
        sum += i;
        i++;
    }
    printf("합은 %d입니다.\n", sum);
}

Writing 5_sum.c

In [12]:
%%shell
gcc ./5_sum.c
./a.out

합은 500500입니다.

In [13]:
%%writefile 6_dowhile.c
#include <stdio.h>

int main() {
    int i = 0;
    do {
        printf("1--파일열기\n");
        printf("2--파일저장하기\n");
        printf("3--종료\n");
        printf("하나를 선택하시오: ");
        scanf("%d", &i);
    } while (i < 1 || i > 3);

    printf("선택된 메뉴 = %d\n", i);
}

Writing 6_dowhile.c

In [15]:
%%shell
gcc ./6_dowhile.c
./a.out

1--파일열기
2--파일저장하기
3--종료
하나를 선택하시오: 1
선택된 메뉴 = 1

In [16]:
%%writefile 7_sum.c
#include <stdio.h>

int main() {
    int sum = 0;

    for (int i = 0; i < 10; i++)
        sum += i;
    printf("1무터 10까지의 정수의 합: %d\n", sum);
}

Writing 7_sum.c

In [17]:
%%shell
gcc ./7_sum.c
./a.out

1무터 10까지의 정수의 합: 45

In [18]:
%%writefile 8_square.c
#include <stdio.h>

int main() {
    printf("**********\n");
    for (int i = 0; i < 5; i++)
        printf("*        *\n");
    printf("**********\n");
}

Writing 8_square.c

In [19]:
%%shell
gcc ./8_square.c
./a.out

**********
*        *
*        *
*        *
*        *
*        *
**********

In [20]:
%%writefile 9_fact.c
#include <stdio.h>

int main() {
    int fact = 1, n;

    printf("정수를 입력하시오: ");
    scanf("%d", &n);

    for (int i = 1; i <= n; i++)
        fact *= i;
    printf("%d!은 %d입니다.\n", n, fact);
}

Writing 9_fact.c

In [21]:
%%shell
gcc ./9_fact.c
./a.out

정수를 입력하시오: 5
5!은 120입니다.

In [22]:
%%writefile 10_nest.c
#include <stdio.h>

int main() {
    for (int i = 0; i < 5; i++) {
        for (int j = 0; j < 10; j++) {
            printf("*");
        }
        printf("\n");
    }
}

Writing 10_nest.c

In [23]:
%%shell
gcc ./10_nest.c
./a.out

**********
**********
**********
**********
**********

In [24]:
%%writefile 11_break.c
#include <stdio.h>

int main() {
    double number, sum = 0.0;

    for (int i = 1; i <= 10; i++) {
        printf("%d번째 실수를 입력하시오: ", i);
        scanf("%lf", &number);

        if (number < 0.0)
            break;
        sum += number;
    }

    printf("합계 = %lf\n", sum);
}

Writing 11_break.c

In [25]:
%%shell
gcc ./11_break.c
./a.out

1번째 실수를 입력하시오: 10
2번째 실수를 입력하시오: 20
3번째 실수를 입력하시오: -10
합계 = 30.000000

In [26]:
%%writefile 12_continue.c
#include <stdio.h>

int main() {
    for (int i = 0; i < 10; i++) {
        if (i % 2 == 1)
            continue;
        printf("정수: %d\n", i);
    }
}

Writing 12_continue.c

In [27]:
%%shell
gcc ./12_continue.c
./a.out

정수: 0
정수: 2
정수: 4
정수: 6
정수: 8